.navbar{
	padding-left: 20px;
}

.margin20{
	margin:20px;
}

.centerAlign{
	text-align: center;
}

.textBold{
	font-weight: bold;
}

.solidBorder{
	border-style: solid;
}

.logoutButton{
	position:fixed;
	right:10px;
    top:5px;
}